<mat-card>
    <mat-tab-group class="m--16">
        <mat-tab label="Performance Reviews">
            <div class="m-16">
                <p>Performance Reviews</p>
            </div>
        </mat-tab>
        <mat-tab label="Priveous Experience">
            <div class="m-16">
                <p>Priveous Experience</p>
            </div>
        </mat-tab>
        <mat-tab label="Degree & Crtificate">
            <div class="m-16">
                <p>Degree & Crtificate</p>
            </div>
        </mat-tab>
        <mat-tab label="Confidential Documents">
            <div class="m-16">
                <p>Confidential Documents</p>
            </div>
        </mat-tab>
        <mat-tab label="Identity Documents">
            <div class="m-16">
                <p>Identity Documents</p>
            </div>
        </mat-tab>
        <mat-tab label="Employee Letters">
            <div class="m-16">
                <p>Employee Letters</p>
            </div>
        </mat-tab>
        <mat-tab label="Signature">
            <div class="m-16">
                <p>Signature</p>
            </div>
        </mat-tab>  

    </mat-tab-group>
</mat-card>