<button
      class="admin-layout-toolbar-button admin-layout-avatar-button"
      mat-button>
      <img class="admin-layout-avatar" [src]="user.avatar" width="32" alt="avatar" />
      <span class="admin-layout-username" fxHide.lt-sm>{{ user.name }}</span>
    </button>

   <!--  <mat-menu #menu="matMenu">
      <button routerLink="/profile/overview" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{ 'user.profile' | translate }}</span>
      </button>
      <button routerLink="/profile/settings" mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>{{ 'user.settings' | translate }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'user.logout' | translate }}</span>
      </button>
    </mat-menu> -->