<div class="admin-layout-container">
  <app-app-layout-header class="admin-layout-header-white"
  [showToggle]="options.navPos !== 'top'" (closedStart)="sidenavCloseStart()"
  (toggleSidenav)="sidenav.toggle()">

  </app-app-layout-header>
  <mat-sidenav-container style="height: calc(100vh - 100%);
  min-height: calc(100vh - 100px);">


    
      <mat-sidenav class="sidenav"  
         #sidenav   
         [opened]="options.navPos === 'side' && options.sidenavOpened && !isOver"
          (openedChange)="sidenavOpenedChange($event)"   >
        <app-side-menu >
        </app-side-menu>
      </mat-sidenav>
    <!--   style="height: 600px;" -->
      <mat-sidenav-content  #content class="admin-layout-container">

      <app-top-menu *ngIf="options.navPos === 'top'"></app-top-menu>
      <div class="demo-sidenav-content">
        <router-outlet></router-outlet>
      </div>
      </mat-sidenav-content>
  </mat-sidenav-container>

  <app-customizer ></app-customizer>

</div>
