.customizer-panel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    visibility: hidden;
  
    &.opened {
      visibility: visible;
    }
  }

  .customizer-handle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}
.customizer-panel {
    position: fixed;
    top: 0;
    right: -320px;
    bottom: 0;
    z-index: 11;
    width: 320px;
    padding: 0 16px;
    box-sizing: border-box;
    transform: translateX(0);
    transition: swift-ease-out(transform);
    overflow: auto;
    background: white;
    &.opened {
      transform: translateX(-100%);
    }
}