<mat-card>
  <mat-card-title class="f-m-12 f-w-25">Profile Details
    <div style="float: right;">
      <a mat-mini-fab (click)="openPrimaryDetails()"
        aria-label="Activate mini floating action style google search link">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-title>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title class="f-m-12 f-w-50">Contact Details
    <div style="float: right;">
      <a mat-mini-fab (click)="openContactDetails()"
        aria-label="Activate mini floating action style google search link">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-title>
  <mat-card-content>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title class="f-m-12 f-w-50">Address Details
    <div style="float: right;">
      <a mat-mini-fab aria-label="Activate mini floating action style google search link">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-title>
  <mat-card-content>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title class="f-m-12 f-w-50">Skill Details
    <div style="float: right;">
      <a mat-mini-fab aria-label="Activate mini floating action style google search link">
        <mat-icon>add</mat-icon>
      </a>
    </div>
  </mat-card-title>
  <mat-card-content>
  </mat-card-content>
</mat-card>